	#foot {width: 99.9%; background-color: #100719; height: 250px; padding: 0 5px 0 5px;}
	.divfoot {width: 250px; height:auto; border: 1px; solid: #fff;  float: center; display: inline-block; padding: 20px 30px 0px 200px;}
	.spanfoot {font-size: 19px; font-family: kristen itc; font-weight: bold; color: #fff;}
	.footli {color:#AC58FA; font-size: 20px;}
	.imgred {float: center; width: 12%;}
	.a12 {display:block; color:#fff; text-align:center; padding:10px 10px; text-decoration:none; font-size: 20px;}
	body {float: center;}
	li {color: #6A0888;}