<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="stylesheet" type="text/css" href="../CSS/Foot.css">
	</head>
	<body>
		<div id="foot">
		<div class="divfoot">
			<span class="spanfoot">Servicios</span>
		<ul>
		<li><a a:hover class="footli" href="../Lafotografiaartistica.html" class="li" target="_parent">La Fotografía Artística</a></li>
		<li><a a:hover class="footli" href="../Tiposdecamaras.html" class="li" target="_parent">Tipos de Cámaras</a></li>
		<li><a a:hover class="footli" href="../Lafotografia.html" class="li" target="_parent">La Fotografía: No solo para profesionales</a></li>
		<li><a a:hover class="footli" href="../Loslentes.html" class="li" target="_parent">Los Lentes</a></li>
		<li><a a:hover class="footli" href="../Fotografias.html" class="li" target="_parent">Fotografías</a></li>
		<li><a a:hover class="footli" href="../Precios.html" class="li" target="_parent">Precios</a></li>
		</ul>
		</div>

		<div class="divfoot">
			<span class="spanfoot">Menú</span>
		<ul>
		<li><a class="footli" class="a12" a:hover href="../Index.html" target="_parent">Inicio</a></li>
		<li><a class="footli" class="a12" a:hover href="../Quienessomos.html" target="_parent">Quienes Somos</a></li>
		<li><a class="footli" class="a12" a:hover href="../Galeria.html" target="_parent">Galeria</a></li>
		<li><a class="footli" class="a12" a:hover href="../Curiosidades.html" target="_parent">Curiosidades</a></li>
		<li><a class="footli" class="a12" a:hover href="../Contact.html" target="_parent">Contacto</a></li>
		<li><a class="footli" class="a12" a:hover href="../Registro.html" target="_parent">Registro</a></li>
		<li><a class="footli" class="a12" a:hover href="../Login.html" target="_parent">Login</a></li>
		</ul>
		</div>

		<div class="divfoot">	
			<span class="spanfoot">Redes Sociales</span>
		<br>
		<br>
		<div><a href="https://www.instagram.com/geraldinegomez_15/?hl=es-la" target="_blank"><img class="imgred" src="../Imagenes/instagram.png"></a></div>
		<div><a href="https://www.facebook.com/GeraldineGomezPenuela.15" target="_blank"><img class="imgred" src="../Imagenes/facebook.png"></a></div>
		<div><a href="https://co.pinterest.com/geraldine0669/" target="_blank"><img class="imgred" src="../Imagenes/pinterest.png"></a></div>
		<div><a href="https://twitter.com/GeraldinepGomez" target="_blank"><img class="imgred" src="../Imagenes/twitter.png"></a></div>
		<br>
		</div>
	</body>
	</html>