<!DOCTYPE html>
<html lang="es">
	<head>
		<title>La fotografia</title>
		<link rel="stylesheet" type="text/css" href="../CSS/Head.css">
	</head>
	<body>
<center>
	<ul>
		<li><a id="margen" a:hover href="../Index.html" target="_parent">Inicio</a></li>
		<li><a a:hover href="../Quienessomos.html" target="_parent">Quienes Somos</a></li>
		<li><a a:hover href="../Galeria.html" target="_parent">Galeria</a></li>
		<li><a a:hover href="../Curiosidades.html" target="_parent">Curiosidades</a></li>
		<li><a a:hover href="../Contact.html" target="_parent">Contacto</a></li>
		<li><a a:hover href="../Registro.html" target="_parent">Registro</a></li>
		<li><a a:hover href="../Login.html" target="_parent">Login</a></li>
	</ul>
	</center>

</body>
</html>